name: Exam CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
    paths-ignore: [ "README.md" ]
  workflow_dispatch:

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Fake Test
        run: echo "Testing application... All tests passed!"

  build-job:
    needs: test-job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Print GitHub Context
        run: echo "Build triggered by ${{ github.actor }} on commit ${{ github.sha }}"

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-files
          path: build/

  deploy-job:
    needs: build-job
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Download Build Artifact
        uses: actions/download-artifact@v3
        with:
          name: build-files
          path: build/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
